<!--  place the contents of this css file, in the <head></head> of your html page when using 
the responsive table generator code on sites not in UNLcms or the UNL.edu framework -->

<style>
table {
    width: 100%;
    max-width: 100%;
    border: 1px solid #d5d5d2;
    border-collapse: collapse;
}

table caption {
    font-family: 'Tungsten A', 'Tungsten B', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.954rem;
    line-height: 1;
    margin-bottom: .75em
}

table th {
    font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-size: .9353rem;
    padding: 1.2307em 1.0833em 1.0833em;
    line-height: 1.333;
    background-color: #eae9e6
}

table td, table th {
    text-align: left
}

table td {
    padding: .92307em 1em .7692em
}

table tbody tr:nth-of-type(even) {
    background-color: #f9f8f5
}

table tbody th {
    border-top: 1px solid #d5d5d2
}

table tbody td {
    border-top: 1px solid #d5d5d2
}
table.wdn_responsive_table thead th abbr {
    border-bottom: none
}

@media screen and (max-width:47.99em) {
    table.wdn_responsive_table thead th:not(:first-child) {
        text-align: center
    }

    table.wdn_responsive_table tbody td {
        text-align: center;
		font-size:12px;
		padding:2px
    }

    table.wdn_responsive_table.flush-left td, table.wdn_responsive_table.flush-left thead th {
        text-align: left;font-size:10px;
		padding:0px
    }
}

@media (min-width:48em) {
    table.wdn_responsive_table thead th:not(:first-child) {
        text-align: center
    }

    table.wdn_responsive_table tbody td {
        text-align: center;
		
    }

    table.wdn_responsive_table.flush-left td, table.wdn_responsive_table.flush-left thead th {
        text-align: left
    }
}

@media screen and (min-width:48em) {
    table.wdn_responsive_table thead th:not(:first-child) {
        text-align: center
    }

    table.wdn_responsive_table tbody td {
        text-align: center;
		
    }

    table.wdn_responsive_table.flush-left td, table.wdn_responsive_table.flush-left thead th {
        text-align: left
    }
}
</style>